/* ================================
   Passion
   ================================ */

/* Passion */
.passion-content {
  padding: 100px 40px 40px;
  max-width: 1100px;
  margin: auto;
}

.passion-content h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #0ff;
  text-align: left;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.passion-content p {
  text-align: left;
  font-size: 1.05rem;
  margin-bottom: 50px;
  color: #bbb;
  line-height: 1.7;
}

/* Certificate / Achievement Gallery */
.certificate-gallery {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.certificate-item {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  background: #1c1c1c;
  border: 1px solid #222;
  border-radius: 12px;
  padding: 25px;
  opacity: 0;
  transform: translateY(40px);
  transition: border-color 0.3s, box-shadow 0.3s, opacity 0.8s ease-out,
    transform 0.8s ease-out;
}

.certificate-item.show {
  opacity: 1;
  transform: translateY(0);
}

.certificate-item:hover {
  color: #0af;
  border-color: var(--accent);
  box-shadow: 0 0 10px #0af, 0 0 20px #0af;
}

.certificate-header {
  flex: 1 1 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.certificate-details {
  flex: 2 1 400px;
}

.certificate-details p {
  margin-bottom: 10px;
  color: #ccc;
}

.certificate-details p b {
  color: #0ff;
  font-weight: 600;
  text-shadow: 0 0 6px rgba(0, 255, 255, 0.35);
}

.certificate-image {
  max-width: 220px;
  border-radius: 8px;
  border: 2px solid #222;
  transition: 0.3s;
}

.certificate-image:hover {
  border-color: #0ff;
  box-shadow: 0 0 8px #0af, 0 0 16px #0af;
  transform: scale(1.05);
}

.certificate-title h3 {
  align-items: center;
}

.achievement-text {
  flex: 2 1 400px;
}

.achievement-text h3 {
  margin-bottom: 12px;
  font-size: 1.4rem;
  color: #fff;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.achievement-text p {
  margin-bottom: 10px;
  color: #ccc;
  line-height: 1.6;
}

.achievement-text b {
  color: #00aaff;
  font-weight: 600;
  text-shadow: 0 0 6px rgba(0, 170, 255, 0.35);
}